<template name="homepage">
  <div class="greeting grid-wrapper">
		<img src="img/homepage/screens.png" class="screens">
		<h1>
			Unlock
		</h1>
		<h2>
			the local web
		</h2>
		<h3>
			Qualifizierte 
			<span class="bold">
				Leads 
				<span class="semi-bold">
					& ideale 
				</span>
				Kunden-
				<br>
				betreuung
			</span>
			 im lokalen Werbemarkt
		 </h3>
		<button class="testzugang">
			<div class="haken">
			Testzugang anfordern
			</div>
		</button>
	</div>
	<div class="functions">
		<ul>
			<li>
				<h4 class="headline-pfeil">
					<span>
					Streuverluste minimieren
					</span>
				</h4>
				Reduzieren Sie Streuverluste im Vertrieb Ihrer Onlineprodukte durch qualifizierte Leads. 
			</li>
			<li class="beschreibung">
				<img src="img/homepage/kunden.png">
				Streuverluste minimieren
			</li>
			<li class="beschreibung">
				<img src="img/homepage/deal.png">
				Streuverluste minimieren
			</li>
		</ul>
  </div>
</template>
