<template name="homepage">
	<div class="whitebg homepage-bg">
		<div class="greeting grid-wrapper">
			<img src="img/homepage/headline.png" class="headline" alt="unlock the local web">
			<img src="img/homepage/screens3.png" class="screens" alt="Beispiel Screen">
	<!--
			<h1>
				Unlock
			</h1>
			<h2>
				the local web
			</h2>
			<h3>
				Qualifizierte 
				<span class="bold">
					Leads 
					<span class="semi-bold">
						& ideale 
					</span>
					Kunden-
					<br>
					betreuung
				</span>
				 im lokalen Werbemarkt
			 </h3>
	-->
			<a href="#" class="open-link">
				<button class="testzugang button">
					<div class="haken button-bild">
						Kostenlosen Testzugang anfordern
					</div>
				</button>
			</a>
		</div>
	</div>
	<div class="functions grid-wrapper">
		<ul>
			<li>
				<h4 class="headline-pfeil">
					<span class="function-headline">
					Streuverluste minimieren
					</span>
				</h4>
				<p class="function-description">
					Reduzieren Sie Streuverluste im Vertrieb Ihrer Onlineprodukte durch qualifizierte Leads. 
				</p>
				<a href="#">mehr Infos dazu</a>
			</li>
			<li>
				<h4 class="headline-kunden">
					<span class="function-headline">
					Ideale Kundenbetreuung
					</span>
				</h4>
				<p class="function-description">
				Erhalten Sie eine Nachricht sobald einer Ihrer Kunden bei Ihrer Konkurrenz aktiv wird oder sobald er seine Aktivität dort einstellt.
				</p>
				<a href="#">mehr Infos dazu</a>
			</li>
			<li class="lastItem">
				<h4 class="headline-deal">
					<span class="function-headline">
						Deal-Special
					<span class="aktion">
						AKTION
					</span>
					</span>
				</h4>
				<p class="function-description">
				Erfahren Sie, welches Unternehmen bereits einen Deal geschalten hat und wie erfolgreich der Deal war.
				</p>
				<a href="#">mehr Infos dazu</a>
			</li>
		</ul>
  </div>
  <div class="grid-wrapper partner">
  	<h3>
  		Ausgew&auml;hlte <strong>Innovationspartner</strong>
  	</h3>
  </div>

  <div class="grid-wrapper graueLinie partner-box">
  	<a href="http://www.seitwert.de/" target="_blank" class="seitwert-logo partner-link">
    </a>
  	<a href="http://www.w3scan.com/" target="_blank" class="adSearchEngine-logo partner-link">
    </a>
  	<a href="http://de.semrush.com/" target="_blank" class="semrush-logo partner-link">
    </a>
  </div>
  <div class="grid-wrapper zitat-slideshow">
    <div class="grid-wrapper graueLinie">
		  <div class="portrait-container">
			  <img src="/img/homepage/favorit_neu.png" alt="favor.it-Logo" class="portrait">
		  </div>
		  <div class="zitat-box">
			  <span class="zitat">
				  Im lokalen Werbemarkt ist der Vertriebsaufwand eine der gro&szlig;en H&uuml;rden f&uuml;r innovative Startups. Um unsere Ressourcen m&ouml;glichst effizient einzusetzen bauen wir auf qualifizierte Leads von AboutLocal!
			  </span>
			  <span class="zitatautor">
				  David Federhen, Co-Gr&uuml;nder von 
				  <a href="http://favor.it/" target="_blank">
				    favor.it
				  </a>
			  </span>
		  </div>
    </div>
    <div class="grid-wrapper graueLinie">
		  <div class="portrait-container">
			  <img src="/img/homepage/rp-online.png" alt="RP-Online-Logo" class="portrait">
		  </div>
		  <div class="zitat-box">
			  <span class="zitat">
				  AboutLocal schlie&szlig;t mit seinem Angebot eine gro&szlig;e L&uuml;cke. Wir sehen darin das Potential, Transparenz im lokalen Online-Markt zu bekommen, sowie den Vertrieb von Werbeleistungen an lokale Unternehmen zu optimieren.
			  </span>
			  <span class="zitatautor">
				  Oliver Horst, Gesch&auml;ftsf&uuml;hrer 
				  <a href="http://www.rp-online.de/" target="_blank">
				    RP Online
				  </a>
			  </span>
		  </div>
    </div>
  </div>

  <div class="grid-wrapper aktiv-werden">
	  <h3>
	  	Jetzt <strong>aktiv werden</strong>
	  </h3>
		<h4>
			Mit AboutLocal verstehen, wie sich lokale Unternehmen im Internet vermarkten!
		</h4>
		<a href="#" class="open-link aktivwerden-button">
		</a>
  </div>

  <div class="overlay-outer">
  </div>
  <div class="overlay-slideshow">
    <div class="overlay-inner">
    	<div class="conversionbox-outer">
			  <div class="conversionbox">
				  <a href="#" class="close-link">
					  <img src="/img/close.png" alt="Close-Button" class="close">
				  </a>
				  <div class="whitebg conversion-header">
					  <h4 class="headline-conversionbox tel-icon">
						  Nehmen Sie Kontakt auf
					  </h4>
				  </div>
				  <form class="conversionbox-inner">  		
					  <div class="portrait-mark portrait-mark-formular">
						  <img src="/img/mark.jpg" alt="Portrait Mark Reich" class="photo-mark">
						  <br>
						  Mark Reich, Gr&uuml;nder
					  </div>
					  <div class="telefon">
						  <p class="zeile1">
							  Rufen Sie uns an
						  </p>				
						  <p class="telNr">
							  030 609 8448 - 11		
						  </p>		
						  <p class="zeile3">
							  Wir freuen uns auf Sie!
						  </p>				
					  </div>
					  <h4>
						  Oder fordern Sie einen R&uuml;ckruf an:
					  </h4>
					  <div class="formular-zeile">
						  <label for="name">
							  Name
						  </label>
						  <span class="formular-feld">
							  <input type="text" name="name" id="name">
						  </span>
					  </div>
					  <div class="formular-zeile">
						  <label for="telefon">
							  Telefon
						  </label>
						  <span class="formular-feld">
							  <input type="text" name="telefon" id="telefon">
						  </span>
					  </div>
					  <div class="formular-zeile">
						  <label for="mail">
							  E-Mail
						  </label>
						  <span class="formular-feld">
							  <input type="text" name="mail" id="mail">
						  </span>
					  </div>
					  <div class="formular-zeile">
						  <label for="unternehmen">
							  Unternehmen
						  </label>
						  <span class="formular-feld">
							  <input type="text" id="unternehmen" name="unternehmen">
						  </span>
					  </div>
					  <div class="newsletterbox">
						  <input type="checkbox" name="newsletter" id="newsletter" value="yes">
						  <label for="newsletter" class="newsletterLabel">
							  ja, ich m&ouml;chte aktuelle Informationen von AboutLocal erhalten.
						  </label>
					  </div>
					  <div class="abschicken-box">
						  <button class="rueckrufButton button">
							  <div class="rueckrufBild button-bild">
								  R&uuml;ckruf anfordern
							  </div>
						  </button>
						  <br>
						  <a href="#" class="close-link">
							  abbrechen
						  </a>
					  </div>
				  </form>  		
			  </div>
    	</div>
    </div>
    
    
    <div class="overlay-inner">
    	<div class="conversionbox-outer">
			  <div class="conversionbox">
				  <a href="#" class="close-link">
					  <img src="/img/close.png" alt="Close-Button" class="close">
				  </a>
				  <div class="whitebg conversion-header">
					  <h4 class="headline-conversionbox tel-icon">
						  Nehmen Sie Kontakt auf
					  </h4>
				  </div>
				  <div class="conversionbox-inner vielen-dank-box">  		
            <h2>
              Vielen Dank f&uuml;r ihre Anfrage!
            </h2>
            Ihre Nachricht ist bei uns eingegangen. Wir werden uns schnellstm&ouml;glich bei Ihnen melden.
					  <div class="portrait-mark portrait-mark-danke">
						  <img src="/img/mark.jpg" alt="Portrait Mark Reich" class="photo-mark">
						  <br>
						  Mark Reich, Gr&uuml;nder
					  </div>
				  </div>  		
			  </div>
    	</div>
    </div>

    <div class="overlay-inner">
    	<div class="conversionbox-outer">
			  <div class="conversionbox">
				  <a href="#" class="close-link">
					  <img src="/img/close.png" alt="Close-Button" class="close">
				  </a>
				  <div class="whitebg conversion-header">
					  <h4 class="headline-conversionbox tel-icon">
						  Nehmen Sie Kontakt auf
					  </h4>
				  </div>
				  <div class="conversionbox-inner fehlermeldung-box">  		
            <h2>
              Es ist ein Fehler aufgetreten!
            </h2>
            Ihre Nachricht konnte nicht &uuml;bermittelt werden. Bitte laden Sie die Seite neu und versuchen Sie es noch einmal.
				  </div>  		
			  </div>
    	</div>
    </div>
  </div>

{{invokeAfterLoad}}  
</template>
