
@import 'style/reset.css'

/*
 * Grid - Configuration
 */

font-size = 15
EM = font-size*1 em

column = 53

gutter = 27

/*
 * Column-widths in variables, in EMs
 */

/*cols1  = ( 1 * (column + gutter) - gutter) / EM
col1   = 1cols
cols2  = ( 2 * (column + gutter) - gutter) / EM
cols3  = ( 3 * (column + gutter) - gutter) / EM
cols4  = ( 4 * (column + gutter) - gutter) / EM
cols5  = ( 5 * (column + gutter) - gutter) / EM
cols6  = ( 6 * (column + gutter) - gutter) / EM
cols7  = ( 7 * (column + gutter) - gutter) / EM
cols8  = ( 8 * (column + gutter) - gutter) / EM
cols9  = ( 9 * (column + gutter) - gutter) / EM
cols10 = (10 * (column + gutter) - gutter) / EM
cols11 = (11 * (column + gutter) - gutter) / EM
cols12 = (12 * (column + gutter) - gutter) / EM
cols13 = (13 * (column + gutter) - gutter) / EM
cols14 = (14 * (column + gutter) - gutter) / EM
cols15 = (15 * (column + gutter) - gutter) / EM
cols16 = (16 * (column + gutter) - gutter) / EM*/

cols1  = ( 1 * (column + gutter) - gutter) px
col1   = 1cols
cols2  = ( 2 * (column + gutter) - gutter) px
cols3  = ( 3 * (column + gutter) - gutter) px
cols4  = ( 4 * (column + gutter) - gutter) px
cols5  = ( 5 * (column + gutter) - gutter) px
cols6  = ( 6 * (column + gutter) - gutter) px
cols7  = ( 7 * (column + gutter) - gutter) px
cols8  = ( 8 * (column + gutter) - gutter) px
cols9  = ( 9 * (column + gutter) - gutter) px
cols10 = (10 * (column + gutter) - gutter) px
cols11 = (11 * (column + gutter) - gutter) px
cols12 = (12 * (column + gutter) - gutter) px
cols13 = (13 * (column + gutter) - gutter) px
cols14 = (14 * (column + gutter) - gutter) px
cols15 = (15 * (column + gutter) - gutter) px
cols16 = (16 * (column + gutter) - gutter) px

/*
 * Column-widths in a function, in EMs
 */

cols(cols)
    width ((cols * (column + gutter) - gutter) / EM)


/*
 * Vertical grid
 */

line-height = 20
line-height-px = 20px
LEM = line-height/font-size em

font-height(fsize)
    font-size (fsize/EM)
    line-height ((ceil(fsize/font-size) * line-height) px)

font-lines(fsize)
    ((ceil(fsize/font-size) * line-height) px)

getPadding(fsize)
    lines = ceil(fsize/font-size)
    h = lines * line-height px
    (h - fsize) / 2

/*baseline-adjust(origFsize, fsize)
    font-size origFsize px
    lines = ceil(fsize/font-size)
    debugLinse lines
    h = lines * line-height
    debugH h
    pad = h - fsize
    debugPad pad
    origLines = ceil(origFsize/font-size)
    //padding-top fsize - (pad/2) px
    //padding-bottom (pad) px
    //padding-bottom pad + (origFsize/2 - pad/2) px
    padding-bottom pad px
    padding-top ((ceil(fsize/font-size) * line-height) - pad - (origFsize/2) px)*/



/*
 * Line-hieghts in variables
 */

/*
lines1  = (1 * LEM)
line    = lines1
lines2  = (2 * LEM)
lines3  = (3 * LEM)
lines4  = (4 * LEM)
lines5  = (5 * LEM)
lines6  = (6 * LEM)
lines7  = (7 * LEM)
lines8  = (8 * LEM)
lines9  = (9 * LEM)
lines10 = (10 * LEM)
lines11 = (11 * LEM)
lines12 = (12 * LEM)
lines13 = (13 * LEM)
lines14 = (14 * LEM)
lines15 = (15 * LEM)
lines16 = (16 * LEM)
*/

lines1  = (1 * line-height) px
line    = lines1
lines2  = (2 * line-height) px
lines3  = (3 * line-height) px
lines4  = (4 * line-height) px
lines5  = (5 * line-height) px
lines6  = (6 * line-height) px
lines7  = (7 * line-height) px
lines8  = (8 * line-height) px
lines9  = (9 * line-height) px
lines10 = (10 * line-height) px
lines11 = (11 * line-height) px
lines12 = (12 * line-height) px
lines13 = (13 * line-height) px
lines14 = (14 * line-height) px
lines15 = (15 * line-height) px
lines16 = (16 * line-height) px

lines(lines)
    height (lines * LEM)

/*
 * Colors
 */

white = #fefefe

blue1 = #2e6f8c
blue2 = #4892b0
blue3 = #78c1de

black = #1e2429
gray1 = #404447
gray2 = #6d7175
gray3 = #99a1a7
gray4 = #ced3d7
gray5 = #dee2e4

orange1 = #c56b00
orange2 = #d28b00
orange3 = #db9a1c
orange4 = #eab347

green1 = #466c0c
green2 = #6e9d24
green3 = #8dba46

red1 = #a81c00
red2 = #ae5948

/*
 * font weights
 */

light    = 300
regular  = 400
semibold = 600
bold     = 700


pie()
    behavior url(pie/PIE.htc)

clearfix()
    &:after
        visibility hidden
        display block
        font-size 0
        line-height 0
        content " "
        clear both
        height 0

bar-chart(barWidth, barHeight, borderWidth=3px)
    border borderWidth solid gray5
    height barHeight - (borderWidth*2)
    width barWidth - (borderWidth*2)
    .value
        font-size 0
        line-height 0
        height barHeight - (borderWidth*2) - 2px
        default-gradient()
        border 1px solid #72ad16
        background-color green2 * 1.3

user-select(value)
    -webkit-touch-callout: value;
    -webkit-user-select: value;
    -khtml-user-select: value;
    -moz-user-select: value;
    -ms-user-select: value;
    user-select: value;

*
    font-size font-size px
    font-family "myriad-pro", sans-serif
    font-weight normal
    text-rendering optimizeLegibility
    -webkit-font-smoothing antialiased

small, big
    line-height line-height px
body
    padding-top 48px
    font-size font-size px
    font-family "myriad-pro", sans-serif
    line-height line-height px
    -webkit-font-smoothing antialiased
    background #f8f8f8
    color gray1

a
    color blue2
    text-decoration none
    cursor pointer
    duration = 0.1s

    -webkit-transition color duration ease-in-out
    -moz-transition color duration ease-in-out
    -o-transition color duration ease-in-out
    transition color duration ease-in-out

img.bordered
    border:4px solid white
    box-shadow 0 0 5px 0 #ccc

a.details
    font-weight semibold
    font-style italic
    &:after
        content "▾"
        font-style normal
        margin-left 0.3em

.not-yet-available
    opacity .3
    filter unquote('Alpha(opacity=30) Gray()')

.grid-wrapper
    clearfix()

#top-nav, footer, #dropdown-login-form
    *
        color #b1b2b3
    a:hover
        color white
    background gray1

.ie #dropdown-login-form
    display none
    &.visible
        display block

transition()
    -webkit-transition arguments
    -moz-transition arguments
    -ms-transition arguments
    -o-transition arguments
    transition arguments

#dropdown-login-form
    opacity 0
    top 40px
    duration = 0.1s
    pointer-events none
    transition opacity duration ease-in-out, top duration ease-in-out
    &.visible
        top 70px
        opacity 1
        z-index 100
        pointer-events auto
    position fixed
    width 200px
    z-index 0
    right 100px
    padding 20px
    padding-bottom 6px
    border-radius 5px
    font-size 14px
    font-weight semibold
    line-height lines1
    box-shadow 0 0 10px black
    *
        line-height lines1
    label, input[type="text"], input[type="password"], button, a
        display block
        box-sizing border-box
        width 100%
    input[type="text"], input[type="password"]
        color black
    label.checkbox, a
        font-size 12px
        //padding (lines1/2) 0
    input
        margin-bottom (lines1/2)
    button
        color white
        font-size 13px
        margin-bottom 6px
    &:before
        content "a"
        font-size 0
        line-height 0
        height 0
        width 0
        tip-size = 10px
        border-left tip-size solid transparent
        border-right tip-size solid transparent
        border-bottom tip-size solid gray1
        position absolute
        margin-top  -30px
        margin-left 200px - 20px
        -moz-transform:scale(1.01);
    p.error
        display none
        color red1
        margin-bottom 10px
    a
        font-style italic
        &:before
            font-style normal
            content "⟩ "
            font-weight bold

#top-nav
    position fixed
    width 100%
    top 0
    z-index 100
    gradient-color = #f8f8f8
    box-shadow inset 0 -1px 0 0 #333334, inset 0 -2px 0 0 #3a3d40, 0 5px 0 0 rgba(255,255,255,0.5), 0 6px 6px 0 rgba(0,0,0,0.18)
    user-select none
    cursor default
    bar-height = 50px
    .grid-wrapper
        line-height bar-height
        height bar-height
    .logo
        width (148/EM)
        height (24/EM)
        margin-bottom -5px
    span, .nav-right a, a.selected-group
        vertical-align baseline
        display inline-block
    .selected-group, .companies-count
        font-weight semibold
        color white
    .nav-right
        float right
        font-weight semibold
        font-size 0
        height bar-height
        li.rule
            height 42px
            border-left 1px solid #818485
            width 0
            padding 0
            font-size 0
            vertical-align top
            margin-top 4px
        li
            font-size 16px
            padding-top 2px
            height bar-height
            display inline-block
            box-sizing border-box
            transition background-color 250ms ease-in-out
            link-padding = 10px
            &:hover
                background-color black
            &.tour
                a
                    background url(img/looking-glass.png) link-padding 50% no-repeat
                    padding-left 31px + link-padding
            &.home
                a
                    background url(img/home.png) link-padding 50% no-repeat
                    padding-left 24px + link-padding
            &.login
                margin-right: -1 * link-padding
                a
                    background url(img/key.png) link-padding 50% no-repeat
                    padding-left 31px + link-padding
            a
                transition opacity 150ms ease-in-out
                color white
                opacity .5
                padding 0 link-padding
                &:hover
                    opacity 1
            /*transition background-color 200ms ease-in-out
            &:hover
                background black
                a
                    color white*/

footer
    padding-top lines1
    padding-bottom lines2
    font-size 12px
    header
        font-weight semibold
    ul
        float left
        width cols2
        &.social-media
            width cols3
    ul + ul, ul + address
        margin-left gutter px
    /*li
        margin-bottom (lines1/3)*/
    address
        display block
        float left
        white-space nowrap
    .vcard
        .fn, .region, .country-name
            display none
    .email, .tel, .adr
        padding-left 20px
        background transparent none 0 1px no-repeat
    .email
        background-image url(img/footer-email.gif)
    .tel
        background-image url(img/footer-tel.gif)
    .adr
        //margin-top (lines1/2)
        background-image url(img/footer-pin.gif)
        background-position 1px 1px
    .street-address + div
        margin-top: (-1*lines1/4)
        margin-bottom: (lines1/4)

.grid-wrapper
    //width cols12 - ((gutter/EM)/2)
    width cols12
    margin auto

#grid-overlay, #baseline-grid-overlay
    height 9999px
    width 100%
    position absolute
    top 0
    display none
    z-index 1000

#grid-overlay
    background url(grid-overlay.png) 50% 0 repeat-y

#baseline-grid-overlay
    background url(baseline-grid-overlay.gif) 0 109px repeat
    opacity 0.3

.input-wrapper
    background #e6e6e6
    border 0 solid #e6e6e6
    border-width 3px
    border-radius 4px
    min-height line-height px
    display inline-block


input[type="button"], input[type="text"], input[type="password"], button
    margin 0
    border-radius 3px
    border 1px solid #bfbfbf
    font-size (13/EM)
    padding 0 13px
    min-height line-height px
    outline none
    box-sizing content-box
    .spinner
        top (lines1/2)

input[type="text"], input[type="password"]
    &.error
        border-color red
        background-color red2 + #466
        box-shadow 0 0 10px red2

.ie input
    line-height line-height px


input[type="text"], input[type="password"]
    &:focus
        border-color gray2

default-gradient()
    box-shadow inset 0 1px 0 0 rgba(255,255,255,0.2)
    background-image -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.1) 100%) /* FF3.6+ */
    background-image -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(100%,rgba(0,0,0,0.1))) /* Chrome,Safari4+ */
    background-image -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%) /* Chrome10+,Safari5.1+ */
    background-image -o-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%) /* Opera 11.10+ */
    background-image -ms-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%) /* IE10+ */
    background-image linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%) /* W3C */

button, input[type="button"]
    //pie()
    font-weight semibold
    font-size (13/EM)
    text-shadow rgba(0,0,0,0.2) 0 1px 2px
    cursor pointer
    //position relative
    background-color blue2 * 1.2

    border 1px solid blue2
    color white
    border-radius 3px
    //box-shadow inset 0 1px 0 0 rgba(255,255,255,0.2), 0 2px 4px gray4
    box-shadow inset 0 1px 0 0 rgba(255,255,255,0.2), 0 2px 4px rgba(0,0,0,0.15)

    intensity = 0.1

    background-image -moz-linear-gradient(top, rgba(255,255,255,intensity) 0%, rgba(0,0,0,intensity) 100%) /* FF3.6+ */
    background-image -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,intensity)), color-stop(100%,rgba(0,0,0,intensity))) /* Chrome,Safari4+ */
    background-image -webkit-linear-gradient(top, rgba(255,255,255,intensity) 0%,rgba(0,0,0,intensity) 100%) /* Chrome10+,Safari5.1+ */
    background-image -o-linear-gradient(top, rgba(255,255,255,intensity) 0%,rgba(0,0,0,intensity) 100%) /* Opera 11.10+ */
    background-image -ms-linear-gradient(top, rgba(255,255,255,intensity) 0%,rgba(0,0,0,intensity) 100%) /* IE10+ */
    background-image linear-gradient(to bottom, rgba(255,255,255,intensity) 0%,rgba(0,0,0,intensity) 100%) /* W3C */

    duration = 0.1s

    -webkit-transition all duration ease-in-out
    -moz-transition all duration ease-in-out
    -o-transition all duration ease-in-out
    transition all duration ease-in-out
    &:hover
        border-color #72ad16
        background-color green2 * 1.3
    &:active
        background-image -moz-linear-gradient(top, rgba(0,0,0,intensity) 0%, rgba(255,255,255,intensity) 100%) /* FF3.6+ */
        background-image -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,intensity)), color-stop(100%,rgba(255,255,255,intensity))) /* Chrome,Safari4+ */
        background-image -webkit-linear-gradient(top, rgba(0,0,0,intensity) 0%,rgba(255,255,255,intensity) 100%) /* Chrome10+,Safari5.1+ */
        background-image -o-linear-gradient(top, rgba(0,0,0,intensity) 0%,rgba(255,255,255,intensity) 100%) /* Opera 11.10+ */
        background-image -ms-linear-gradient(top, rgba(0,0,0,intensity) 0%,rgba(255,255,255,intensity) 100%) /* IE10+ */
        background-image linear-gradient(to bottom, rgba(0,0,0,intensity) 0%,rgba(255,255,255,intensity) 100%) /* W3C */



.content-left, .content-right
    background white
    border 1px solid #ccc
    box-shadow 0 0 5px 0 #ccc


.content-left
    width cols8
    float left
    border-width 1px 1px 1px 0
    padding-top lines1
    padding-bottom lines1
    padding-right gutter px

.content-right
    width cols4 - 1px - gutter px
    float left
    margin-left 9px
    padding-left gutter - 10px
    border-width 1px 0 1px 1px
    padding-top lines1
    padding-bottom lines1

@media only screen and (max-width: 992px)
    body
        overflow-x hidden
@media only screen and (max-width: 937px)
    body
        overflow-x scroll
        /*.content-right
            clear left
            width cols8
            margin-top lines1
            margin-left 0
            padding-left 0*/
@media only screen and (min-width: 937px)
    .content-left
        padding-left gutter px
        margin-left (-1 * gutter) - 1px
        border-left 1px solid #ccc
    .content-right
        padding-right gutter px
        margin-right (-1 * gutter) - 1px
        border-right 1px solid #ccc
.ie
    .content-left
        padding-left gutter px
        margin-left (-1 * gutter px) - 1px
        border-left 1px solid #ccc
    .content-right
        padding-right gutter px
        margin-right (-1 * gutter) - 1px
        border-right 1px solid #ccc

a.close
    font-size 0
    color gray3
    width 0
    &:before
        font-size 18 px
        font-weight bold
        content "×"
    &:hover
        color black

a.back, a.next
    &:before, &:after
        font-size 7px
        vertical-align middle
    &:before
        margin-right 1px
    &:after
        margin-left 1px

a.back
    &:before
        content "◀"
a.next
    &:after
        content "▶"

h2
    font-height 22
    font-weight semibold
    small
        font-size 15px


.page-description
    margin-top lines2 + (lines1/2)
    padding-left cols1 + gutter
    padding-top lines1
    background url(img/screen-big.gif) 0 (lines1/1.5) no-repeat
    padding-bottom (lines1/2) + lines1
    h1
        font-size 30px
        margin-bottom (lines1/2)
    p
        font-size 17px
    .close
        display block
        float right
        margin-right 10px


.profile-navigation
    margin-bottom (lines1/2)
    clear both
    &.bottom
        margin-top lines9 + (lines1/2) - 1px
    font-size 12px
    a
        color gray1
        &:hover
            color black
    div
        height 20px
        font-weight semibold
        &.back-to-search
            float left
            width cols9 + gutter
        a.next
            float right
            &:after
                margin-left 3px
        a.back
            &:before
                margin-right 3px

.company-profile
    header
        margin-bottom lines1
        h1
            font-height 30
            font-weight semibold
        p
            font-height 15
        .input-wrapper, button.export
            float right
        button.export
            margin-right -2px
            margin-top -1px
        button
            width cols1 + gutter - 2px - 4px
            padding 0
        .input-wrapper
            margin-top 6px
            width cols3
            margin-right -5px
            input
                width cols2 - 3px - 13px*2
                margin-right 5px
    .average-numbers
        width cols5
        float left
        margin-right gutter px
    section.iq
        margin lines2 0 lines1 0
        clearfix()
        div
            float left
            width cols2
            margin-right gutter px
            *
                display block
        figure
            font-size 83px
            line-height lines3
        label
            font-weight semibold
            margin-top lines2
            font-size 22px
        span
            font-size 12px
            height lines1
    section.ratings, section.popularity
        clearfix()
        label
            display block
            width cols2
            margin-right gutter px
            font-size 17px
            font-weight semibold
        label, .bar-chart
            float left
        .bar-chart
            border 3px solid gray5
            height line-height - 6px
            width cols2
            margin-right 6px
            .value
                font-size 0
                line-height 0
                height line-height - 6px - 2px
                default-gradient()
                border 1px solid #72ad16
                background-color green2 * 1.3
    section.popularity
        margin-top (line-height/2px)
    section.address
        white-space nowrap
        margin-top lines2
        .org
            display none
        label
            width 58px
            display inline-block
    section.marketing, section.customer-feedback
        margin-top lines2
        clearfix()
    section.marketing
        border-top 1px dotted gray5
        padding-top lines2 - 1px
        .web, .ads, .coupons, .interaction
            margin-top lines1
            width cols2
            float left
            //outline 1px solid red
            h3
                font-size 17px
                font-weight semibold
                line-height lines2 - 2px
                text-align center
                margin-bottom lines1
            h3, .details-description
                border 1px solid transparent
            .details-description
                border-bottom-width 0px
            .value
                text-align center
                font-size 30px
                font-weight semibold
                margin-bottom lines1
            .pie
                height lines4
                margin-bottom (lines1/2)
            p
                font-size 12px
                line-height (lines1/1.5) px
                text-align center
                height lines3
                padding-top (lines1/2)
            a
                display block
                text-align center
                padding-bottom (line-height/2px)
            div.details
                display none
            &.active
                h3, .details-description
                    default-gradient()
                    background-color gray1
                    border-color black
                h3, p, a
                    color white
                .details-description:after
                    content "a"
                    font-size 0
                    line-height 0
                    height 0
                    width 0
                    border-left cols1 + (gutter/2) solid transparent
                    border-right cols1 + (gutter/2) solid transparent
                    border-top (line-height-px/2) solid gray1
                    border-top (line-height-px/2) solid rgba(57, 61, 64, 0.99999999999)
                    position absolute
                    z-index 10
                    -moz-transform:scale(1.01);
                div.details
                    display block
                    //outline 1px solid gray5
                    margin-top (line-height/2px) - 1
                    //background gray5*1.05
                    background #f8f8f8
                    margin-left -1px*gutter
                    padding-left gutter px
                    padding-right gutter px
                    width cols8
                    border-top 1px solid gray5
                    border-bottom 1px solid gray5
                    padding-top lines2 - 1px
                    padding-bottom lines2 - 1px
                    &:before
                        content "a"
                        font-size 0
                        line-height 0
                        height 0
                        width 0
                        border-left cols1 + (gutter/2) solid transparent
                        border-right cols1 + (gutter/2) solid transparent
                        border-top (line-height-px/2) solid white
                        position absolute
                        z-index 9
                        margin-top -1px * lines2 - 1px
                        -moz-transform:scale(1.01);
                    & h2:before
                        content "a"
                        font-size 0
                        line-height 0
                        height 0
                        width 0
                        border-left cols1 + (gutter/2) solid transparent
                        border-right cols1 + (gutter/2) solid transparent
                        border-top (line-height-px/2) solid gray5
                        position absolute
                        z-index 8
                        //margin-top 1px
                        margin-top -1px * lines2
                        -moz-transform:scale(1.01);
        .web, .ads, .coupons
            margin-right gutter px
    section.customer-feedback
        h3, .value, p, a.details
            text-align center
        h2
            margin-bottom lines1
        .ratings, .popularity
            float left
            width cols4
        .ratings
            margin-right gutter px
        h3, .value
            font-size 19px
            font-weight semibold
        h3
            line-height lines2
        .value
            strong
                font-weight bold
        .bar-chart
            bar-chart(cols4, lines1)
            margin (lines1/2) 0
        p
            color gray3
            strong
                font-weight semibold
                color black
        a.details
            display block
            line-height lines2

.support-sidebar
    p
        color gray3
    .phone-number, .email
        display block
        font-size 19px
        line-height lines2
        font-weight semibold
    .contact
        height lines5
        margin-top lines1
        *
            float left
        img.hand-writing
            margin-top lines2
        .hand-writing, p
            margin-left (gutter/2px)






/********************************************
*********************************************
Anfang der Styles für die Homepage und die Tour
*********************************************
*********************************************
**/

myGray1 = #d9d9d9
myGray2 = #cdcdcd
myGray3 = #f0f0f0
myGray4 = #cacbcc

//TOUR und HOMEPAGE

.whitebg
  background-color:#f8f8f8; 
  background-image: -moz-linear-gradient(bottom , #f8f8f8, #f0f0f0 40px,#d7d7d7 40px, #f7f7f7 41px, #ffffff 70px); 
  background-image: -webkit-linear-gradient(bottom , #f8f8f8, #f0f0f0 40px,#d7d7d7 40px,#f7f7f7 41px, #ffffff 70px); 
  background-image: -o-linear-gradient(bottom , #f8f8f8, #f0f0f0 40px,#d7d7d7 40px,#f7f7f7 41px, #ffffff 70px); 
  background-image: -ms-linear-gradient(bottom , #f8f8f8, #f0f0f0 40px,#d7d7d7 40px,#f7f7f7 41px, #ffffff 70px); 
  background-image: linear-gradient(bottom , #f8f8f8, #f0f0f0 40px,#d7d7d7 40px,#f7f7f7 41px, #ffffff 70px)

.aktion
  rand-padding = 3px
  padding-left rand-padding
  padding-right rand-padding
  background-color rgb(215,138,0)
  font-size 10px
  font-weight semibold
  color white
  display inline
  position relative
  top -10px
  padding-top 0px

.button
  line-height 37px
  font-size 17.5px
  padding-right 0px

.button-bild
  padding-left 15px

.haken
  background url("img/homepage/haken.png") no-repeat 0% 50%

.portrait
  padding 4px
  box-shadow 0px 0px 5px 0px gray1
  background-color #ffffff

//HOMEPAGE

.homepage-bg
  bottompadding = 17
  padding-bottom bottompadding px
  margin-bottom line - bottompadding + 3 px

.greeting
  font-size 15px
  padding-top lines2

  .headline
    margin-top lines2+2 px
    margin-bottom 5px
  
  .screens
    float right

  .bold
    font-weight bold
  
  .semi-bold
    font-weight semibold

  .testzugang
    width cols5
    margin-top 0.25 * line
    padding-left 2px

    

.functions
  padding-top lines2
  padding-bottom lines4
  background-color #f8f8f8

  li
    width cols4
    margin-right gutter px
    float left
  
  .lastItem /*! IE8 kennt kein :lastChild */
    margin-right 0px
  
  h4
    font-size 19px
    height lines3
    padding-left 45px
    font-weight semibold

    .function-headline
      padding-top line
      display block
    
  .function-description
    height lines3
    margin-bottom line
  
  a
    color blue2
    font-size 14px
    font-weight semibold
    font-style italic
    duration = 0.1s
    transition color duration ease-in-out
    
    &:after
      content " ⟩"
      font-style normal
      font-weight bold

    &:hover
      color green2 * 1.3
  

  .headline-pfeil
    background url("img/homepage/pfeil.png") no-repeat 0% 50%
  
  .headline-kunden
    background url("img/homepage/kunden.png") no-repeat 0% 50%
  
  .headline-deal
    background url("img/homepage/deal.png") no-repeat 0% 50%

.partner
  border-bottom 3px solid gray1
  padding-bottom line - 3 px

  h3
    font-size 22px
    
    strong
      font-weight semibold

.partner-box
  text-align center
  margin-top 12px

  .partner-link
    margin-right 100px

  .seitwert-logo
    background transparent no-repeat left top
    height 49px
    width 169px
    display inline-block
    background-image url('/img/homepage/partner-logos.png')
  
    &:hover
      background-position 0 -65px
  
  .adSearchEngine-logo
    background transparent no-repeat -169px 0px
    height 65px
    width 81px
    display inline-block
    background-image url('/img/homepage/partner-logos.png')
  
    &:hover
      background-position -169px -65px
  
  .semrush-logo
    background transparent no-repeat -250px 0px
    height 50px
    width 117px
    display inline-block
    background-image url('/img/homepage/partner-logos.png')
  
    &:hover
      background-position -250px -65px
  
.graueLinie
  padding-top ( line-height - 1 ) px
  padding-bottom line
  border-bottom 1px solid myGray4
  
  .portrait-container
    margin-right 20px
    display inline-block
    vertical-align middle
  
  .zitat-box
    display inline-block
    vertical-align middle
    width cols10
    line-height 30px
    
  
  .zitat
    font-size 23px
    font-style italic
    font-weight light
    &:before
      content "»"
    &:after
      content "«"
  
  .zitatautor
    font-size 14px
    font-style normal
    color gray1
    //float right
    font-weight 500
    //position absolute
    padding-left 10px
    display inline-block

.aktiv-werden
  text-align center
  padding-top lines4
  padding-bottom lines2
  
  h3
    font-size 25px
    padding-bottom line
    
    strong
      font-weight semibold
  
  h4
    font-size 19px
    font-weight semibold
    padding-bottom lines2
  
  .aktivwerden-button
    background transparent no-repeat top left
    height 58px
    width 596px
    display inline-block
    background-image url('/img/homepage/button.png')
    
    &:hover
      background-position 0 -58px
        
    &:active
      background-position 0 -116px
        

overlay-duration = 0.2s
.overlay-outer
  background-color #000
  position fixed
  //opacity .5
  //filter unquote('Alpha(opacity=50)')
  top 0
  left 0
  width 100%
  z-index 100
  transition opacity overlay-duration ease 0s, height 0s ease overlay-duration
  opacity 0
  filter unquote('Alpha(opacity=0)')
  height 0%
  
  &.visible
    opacity .5
    filter unquote('Alpha(opacity=50)')
    height 100%
    transition opacity overlay-duration ease 0s, height 0s ease 0s
    
.overlay-slideshow
  position fixed
  top 0px
  left 0px
  width 100%
  margin-top -800px
  z-index 101
  transition margin-top overlay-duration

  &.visible
    margin-top 0px

.overlay-inner
  z-index 102
  position fixed
  top 0
  left 0
  width 100%
  //height 0px
  text-align center
  //display none
  display block

.conversionbox-outer
  border-radius 6px 6px 6px 6px
  border solid 8px rgba(31,33,35,0.7)
  display inline-block
  text-align left
  margin-top 70px
  width ( 7 * (column + gutter) ) px

.conversionbox
  background-color white
  display inline-block
  background-color:#f8f8f8;
  width ( 7 * (column + gutter) ) px
  
  .close
    float right
    padding 3px
  
  .conversion-header
    padding-top 15px  
    padding-bottom 50px  
    margin-bottom -15px
  
  .info-icon
    background url("img/tour/info-icon.png") no-repeat 0% 50%
  
  .tel-icon
    background url("img/homepage/tel.png") no-repeat 0% 50%
  
  .headline-conversionbox
    font-size 19px
    line-height lines2
    padding-left 35px
    margin-left (column + gutter) px
    font-weight semibold
    

.vielen-dank-box
  text-align center
  font-size 17px
  
  p
    font-size 18px
    line-height 25px
    margin-bottom lines2
    
  h2
    
.fehlermeldung-box
  text-align center
  font-size 17px
  margin-bottom 25px
  
.conversionbox-inner
  margin-left (column + gutter) px
  margin-right (column + gutter) px
  
  .telefon
    padding-top line
    
    .zeile1
      font-size 17px

    .telNr
      font-size 25px
      line-height 50px

    .zeile3
      font-size 17px
      font-style italic
  
  .portrait-mark
    text-align center
    font-size 12px
  
  .portrait-mark-formular
      float right
  
  .portrait-mark-danke
      margin-top 30px
      margin-bottom 30px
  
  .photo-mark
    padding 4px
    box-shadow 0px 0px 5px 0px gray1
    
  h2
    font-style italic
    font-size 25px
    line-height lines4
  
  h4
    font-size 17px
    padding-top line
    font-weight semibold
  
  .formular-zeile
    margin-top 20px
  
    label
      font-size 16px
      font-weight semibold
      display inline-block
      padding-top 3px
  
    .formular-feld
      float right
      hintergrundFarbe = #e6e6e6
      border 3px solid hintergrundFarbe
      background-color hintergrundFarbe
      border-radius 3px 3px 3px 3px

    
    input
      width 240px
      padding-left 13 px
      padding-right 13 px
      
  .checkbox-box
    padding-bottom 10px
    
    input
      float left
      margin-left 0px

    .checkboxLabel
      display inline-block
      width 365px
    
    strong
      font-weight bold
  
  
  .newsletterbox
    float right
    width 278px
    padding-top line
    
    .newsletterLabel
      display inline-block
      float right
      width 252px
  
  .rueckrufButton
    width 271px
    line-height 27px
    font-size 14.5px
    padding-left 2px
    margin-top line
    margin-bottom line

  .rueckrufBild
    background url("img/homepage/telButton.png") no-repeat 0% 50%
    padding-left 10px

  .infoBild
    background url("img/tour/info.png") no-repeat 0% 50%
    padding-left 10px
  
  .abschicken-box
    text-align right
    padding-bottom 20px


//TOUR

.tour-bg
  padding-bottom 3 * line px

.tour-navigation
  font-size 15px
  padding-top line
  
  ul
    display inline
  
  li
    display inline-block
    pad = 51 px
    padding-right pad
    padding-left pad
  
  link-top-padding = 25px
  a.tour-slider
    color gray1
    padding-top link-top-padding
  
  .marker
    display block
    margin-left auto
    margin-right auto
    padding-bottom 10px
    
  
  .ul-container
    width cols12 - cols1 * 2 - 10 px
    display inline-block
    text-align center
    vertical-align bottom


  .pfeil-container
    vertical-align bottom
    width cols1
    display inline-block
    padding-top line
    
  .pfeil-container-rechts
    text-align right
  
  .pfeil-links
    visibility hidden
  
.slideshow
  height 33 * line
  margin-bottom 30px

slideAbstand = 300
.tour-seite
  padding-top lines2
  background-color #f8f8f8
  width (12 * (column + gutter) - gutter + slideAbstand ) px

  img
    border solid myGray1 1px
  
  .screen-box
    display inline-block
    bildPadding = 7 px
    padding-left bildPadding
    padding-right bildPadding
    padding-top bildPadding
    border solid myGray2 1px
    box-shadow 0px 1px 2px 1px rgba(0,0,0,0.06)
    font-style italic
    color gray2
    font-size 16px
    font-weight semibold
    background-color #f7f7f7 
    background-image -moz-linear-gradient(bottom , #f7f7f7, #ffffff 50.0%,#ffffff 100.0%)
    background-image -webkit-linear-gradient(bottom , #f7f7f7, #ffffff 50.0%,#ffffff 100.0%)
    background-image -o-linear-gradient(bottom , #f7f7f7, #ffffff 50.0%,#ffffff 100.0%)
    background-image -ms-linear-gradient(bottom , #f7f7f7, #ffffff 50.0%,#ffffff 100.0%)
    background-image  linear-gradient(bottom , #f7f7f7, #ffffff 50.0%,#ffffff 100.0%)
    
    p
      textPadding = line / 2 px
      padding-top textPadding
      padding-bottom textPadding

  .overlay-screenbox
    margin-top -102px
    margin-left 40px
  
  .beschreibung-box
    float right
    width cols5
    padding-top lines2
    margin-right slideAbstand px
    
    h2
      font-size 30px
      color gray1
      line-height lines2
    
    p
      font-size 16px
      padding-bottom line * 1.5
      padding-top line * 0.5
      
    verticalFix = 3px
    ul
      margin-top - verticalFix
      margin-left -10px


    li
      font-size 17px
      font-weight semibold
      list-style-type none
      background url('img/tour/haken.png') no-repeat 0% 0%
      padding-left 30px
      padding-bottom line
      line-height 25px

      &:first-child
        padding-top verticalFix
    
  .mehrInfo
    width cols4
    padding-left 3px

    
    
  .infoBild
    background url("img/tour/mehrInfo.png") no-repeat 0% 50%


//KONTAKT

.kontakt
  font-size 15px
  padding-top lines3
  text-align center

  h2
    font-size 25px
    line-height lines2
  
  h4
    font-size 19px
    font-weight semibold
    margin-top 10px
    margin-bottom lines3
  
  strong
    font-weight semibold

  .telefonnummer
    font-size 30px
    font-weight semibold
    line-height lines2

  .oder
    color gray3
    font-size 17px
    margin-top 5px
    margin-bottom 25px
  
  .mail-bild
    margin-bottom 3px
  
  a
    font-size 22px
    font-weight semibold
  
  .handwriting
    font-size 18px
    line-height lines2
    margin-bottom lines2
    margin-top line
  
  .google-map
    text-align center
    
    a
      font-size 10px
      line-height 19px
      font-family Arial, sans-serif
      
  
  .map-container
    display inline-block
    padding-bottom 0px

  .map_canvas
    height 320px
    width 450px
    display inline-block

  .adresse
    margin-top line
    margin-bottom lines3


/********************************************
*********************************************
Ende der Styles für die Homepage und die Tour
*********************************************
*********************************************
**/

