<template name="footer">
  <footer>
    <div class="grid-wrapper">
      <ul>
        <li>
          <header>Hilfe</header>
        </li>
        <li>
          <a href="#">Kontakt</a>
        </li>
      </ul>
      <ul>
        <li>
          <header>Unternehmen</header>
        </li>
        <li>
          <a href="#">Team &amp; Jobs</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
      </ul>
      <ul>
        <li>
          <header>Rechtliches</header>
        </li>
        <li>
          <a href="#">Impressum</a>
        </li>
        <li>
          <a href="#">Datenschutz</a>
        </li>
        <li>
          <a href="#">AGBs</a>
        </li>
      </ul>
      <ul class="social-media">
        <li>
          <header>Social Media</header>
        </li>
        <li>
          <a href="#" class="twitter">Twitter</a>
        </li>
      </ul>
      <address>
        <ul class="vcard">
          <li class="fn">
            AboutLocal GmbH
          </li>
          <li>
            <a class="email" href="mailto:info@about-local.com">info@about-local.com</a>
          </li>
          <li class="tel">
            +49 30 ∕ 609 84 48 - 0
          </li>
          <li class="adr">
            <div class="street-address">
              Greifswalder Str. 212
            </div>
            <div>
              <span class="postal-code">
                10405
              </span>
              <span class="locality">
                Berlin
              </span>
            </div>
            <div class="region">
              Berlin
            </div>
            <div class="country-name">
              Germany
            </div>
          </li>
        </ul>
      </address>
    </div>
  </footer>
</template>
