<template name="navigation">
  <nav id="top-nav">
    <div class="grid-wrapper">
    <a href="/">
      <img class="logo" src="/img/logo-top.gif">
    </a>
      {{> navCurrentGroup}}
      <ul class="nav-right">
        <li class="rule"></li>
        <li class="home {{homepageActiveClass}}"><a href="/">Home</a></li>
        <li class="tour {{tourActiveClass}}"><a href="/tour">Tour</a></li>
        <li class="login">
          <a>Login</a>
        </li>
      </ul>
      {{> loginForm}}
    </div>
  </nav>

{{> conversionBox}}

</template>
