<head>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">window.setTimeout("initGmaps();",300);function initGmaps(){var myOptions = {zoom:17,center:new google.maps.LatLng(52.53197, 13.42739000000006),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);marker = new google.maps.Marker({map: map, position: new google.maps.LatLng(52.53197, 13.42739000000006)});infowindow = new google.maps.InfoWindow({content: "<b>aboutLocal GmbH </b><br>Greifswalder Str. 212<br>10405 Berlin"});google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}</script>

</head>
<template name="kontakt">
	<div class="kontakt grid-wrapper">
    <h2>
      Nehmen Sie
      <strong>
        Kontakt mit uns auf
      </strong>
    </h2>
    <h4>
      If you have any questions or comments, please get in touch:
    </h4>
  	<img src="img/kontakt/tel-gross.png" class="kontakt-symbol" alt="Telefon-Symbol">
  	<p class="telefonnummer">
  	  030 609 8448 - 11
  	</p>
  	<p class="oder">
  	  oder
  	</p>
  	<img src="img/kontakt/mail-gross.png" class="kontakt-symbol mail-bild" alt="Email-Symbol">
  	<br>
  	<a href="mailto:beta@about-local.com">
  	  beta@about-local.com
  	</a>
  	<p class="handwriting">
  	  Wir freuen uns auf Sie!
  	</p>
  	

<div  style="overflow:hidden;height:320px;width:450px;"><div id="map_canvas" style="height:320px;width:450px;"></div></div>



  	
  	<p class="adresse">
    	<strong>
    	  aboutLocal GmbH
    	</strong>
    	<br>
      Greifswalder Str. 212 &middot; 10405 Berlin
  	</p>
  </div>
</template>
