<head>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA76GsfIZEhzF6byO0sCz2XXkh23nMXadQ&sensor=false">
</script>

</head>
<template name="kontakt">
	<div class="kontakt grid-wrapper">
    <h2>
      Nehmen Sie
      <strong>
        Kontakt mit uns auf
      </strong>
    </h2>
    <h4>
      If you have any questions or comments, please get in touch:
    </h4>
  	<img src="/img/kontakt/tel-gross.png" class="kontakt-symbol" alt="Telefon-Symbol">
  	<p class="telefonnummer">
  	  030 609 8448 - 11
  	</p>
  	<p class="oder">
  	  oder
  	</p>
  	<img src="/img/kontakt/mail-gross.png" class="kontakt-symbol mail-bild" alt="Email-Symbol">
  	<br>
  	<a href="mailto:beta@about-local.com">
  	  beta@about-local.com
  	</a>
      <img src="/img/kontakt/kontakt-handschrift.png" class="handwriting" alt="Wir freuen uns auf Sie!">

<div class="google-map">
<div class="map-container portrait">
  <div class="map_canvas">
  </div>
</div>
</div>



  	
  	<p class="adresse">
    	<strong>
    	  aboutLocal GmbH
    	</strong>
    	<br>
      Greifswalder Str. 212 &middot; 10405 Berlin
  	</p>
  </div>

{{invokeAfterLoad}}  
</template>
