<template name="conversionBox">
 <div class="overlay-outer">
  </div>
  <div class="overlay-slideshow">
    <div class="overlay-inner">
    	<div class="conversionbox-outer">
			  <div class="conversionbox">
				  <a href="#" class="close-link">
					  <img src="/img/close.png" alt="Close-Button" class="close">
				  </a>
				  <div class="whitebg conversion-header">
					  <h4 class="headline-conversionbox info-icon variablecontent-headline">
						  &nbsp;v
					  </h4>
				  </div>
				  <form class="conversionbox-inner conversionbox-form">  		
				    
				    <div class="telephone-box">
				      {{> conversionBoxTelephone}}
				    </div>
				    <div class="innovation-partner-box">
				      {{> conversionBoxInnovation}}
				    </div>
					  
					  <h4>
						  Oder hinterlassen Sie Ihre Kontaktdaten und erhalten Sie unsere Firmenpr&auml;sentation per E-Mail.
					  </h4>
					  <div class="form-line">
						  <label for="fullname">
							  Name
						  </label>
						  <span class="form-field">
  						  *&nbsp;
						    <span class="form-input-field">
							    <input type="text" name="fullname" id="fullname">
						    </span>
						  </span>
					  </div>
					  <div class="form-line">
						  <label for="company">
							  Unternehmen
						  </label>
						  <span class="form-field">
  						  *&nbsp;
						    <span class="form-input-field">
							    <input type="text" id="company" name="company">
						    </span>
					    </span>
					  </div>
					  <div class="form-line">
						  <label for="call-back-email">
							  E-Mail
						  </label>
						  <span class="form-field">
  						  *&nbsp;
						    <span class="form-input-field">
							    <input type="text" name="call-back-email" id="call-back-email">
						    </span>
					    </span>
					  </div>
					  <div class="form-line">
						  <label for="telephone">
							  Telefon
						  </label>
						  <span class="form-field">
  						  *&nbsp;
						    <span class="form-input-field">
							    <input type="text" name="telephone" id="telephone">
						    </span>
						  </span>
					  </div>
					  <div class="callBackBox">
						  <input type="checkbox" name="callBack" id="callBack" value="yes">
						  <label for="callBack" class="callBack-label">
							  Ich m&ouml;chte eine pers&ouml;nliche Beratung per Telefon erhalten. Bitte rufen Sie mich zur&uuml;ck.
						  </label>
					  </div>
					  <div class="submit-box">
						  <button class="call-back-button button">
							  <div class="call-back-image button-image">
								  abschicken
							  </div>
						  </button>
						  <br>
						  <a href="#" class="close-link">
							  abbrechen
						  </a>
					  </div>
				  </form>  		
			  </div>
    	</div>
    </div>
    
    
    <div class="overlay-inner">
    	<div class="conversionbox-outer">
			  <div class="conversionbox">
				  <a href="#" class="close-link">
					  <img src="/img/close.png" alt="Close-Button" class="close">
				  </a>
				  <div class="whitebg conversion-header">
					  <h4 class="headline-conversionbox info-icon">
						  Best&auml;tigung
					  </h4>
				  </div>
				  <div class="conversionbox-inner thankyou-box">  		
            <h2>
              Vielen Dank f&uuml;r ihre Anfrage!
            </h2>
            Ihre Nachricht ist bei uns eingegangen. Wir werden uns schnellstm&ouml;glich bei Ihnen melden.
					  <div class="portrait-mark portrait-mark-thankyou">
						  <img src="/img/mark.jpg" alt="Portrait Mark Reich" class="portrait">
						  <br>
						  Mark Reich, Gr&uuml;nder
					  </div>
				  </div>  		
			  </div>
    	</div>
    </div>

    <div class="overlay-inner">
    	<div class="conversionbox-outer">
			  <div class="conversionbox">
				  <a href="#" class="close-link">
					  <img src="/img/close.png" alt="Close-Button" class="close">
				  </a>
				  <div class="whitebg conversion-header">
					  <h4 class="headline-conversionbox info-icon">
						  Fehler
					  </h4>
				  </div>
				  <div class="conversionbox-inner errormessage-box">  		
            <h2>
              Es ist ein Fehler aufgetreten!
            </h2>
            Ihre Nachricht konnte nicht &uuml;bermittelt werden. Bitte laden Sie die Seite neu und versuchen Sie es noch einmal.
				  </div>  		
			  </div>
    	</div>
    </div>
  </div>

{{invokeAfterLoad}}  
</template>
