<template name="tour">
	<div class="whitebg tour-bg">
		<div class="tour-navigation grid-wrapper">
			<img src="img/tour/pfeil-links.png" alt="Pfeil nach links" class="pfeil">
			<ul>
				<li>
				<img src="img/tour/marker.png" alt="Marker" class="marker">
				Einleitung
				</li>
				<li>
				Firmenprofile
				</li>
				<li>
				Filter
				</li>
				<li>
				Export
				</li>
				<li>
				Live-Updates
				</li>
				<li>
				Deal-Daten
				<span class="aktion">
				SPECIAL
				</span>
				</li>
			</ul>
			<img src="img/tour/pfeil-rechts.png" alt="Pfeil nach rechts" class="pfeil">
		</div>
	</div>
</template>

