<template name="tour">
	<div class="whitebg tour-bg">
		<div class="tour-navigation grid-wrapper">
			<a href="#" class="arrow-left tour-slider">
				<div class="arrow-container">
					<img src="/img/tour/arrow-left.png" alt="Pfeil nach links" class="arrow">
				</div>
			</a>
			<div class="ul-container">
				<ul class="directlinks">
					&nbsp;
					<a href="#" class="tour-slider profile-slide">
						&nbsp;
						<li class="firstSlider">
						  	<img src="/img/tour/marker.png" alt="Marker" class="marker">
						  	Kundenansprache verbessern
						</li>
					</a>
					&nbsp;
					<a href="#" class="tour-slider filter-slide">
						&nbsp;
						<li>
				  		Abschlussquoten erh&ouml;hen
						</li>
					</a>
					&nbsp;
					<a href="#" class="tour-slider export-slide">
						&nbsp;
						<li>
					  	CRM aufwerten
						</li>
					</a>
					&nbsp;
					<a href="#" class="tour-slider deal-slide">
						&nbsp;
						<li class="lastSlider">
							Gutschein-Daten
							<span class="special">
								SPECIAL
							</span>
						</li>
					</a>
					&nbsp;
				</ul>
			</div>
			<a href="#" class="arrow-right tour-slider">
				<div class="arrow-container arrow-container-right">
					<img src="/img/tour/arrow-right.png" alt="Pfeil nach rechts" class="arrow">
				</div>
			</a>
		</div>
	</div>
<div class="slideshow grid-wrapper">
  &nbsp;
	<div class="tour-page grid-wrapper profile-slide">
		<div class="description-box">
			<h2>
				Mehr Kundenwissen ohne zus&auml;tzlichen Aufwand
			</h2>
			<p>
				Erfahren Sie mit einem Klick alles über Ihre Kunden. Unsere Firmenprofile enthalten s&auml;mtliche Informationen die Sie im Vertrieb benötigen. Verbringen Sie weniger Zeit mit Informationsbeschaffung und mehr Zeit beim Kunden.
			</p>
			<ul>
				<li>
					Kontaktdaten
				</li>
				<li>
					Detaillierte Auflistung der Werbeaktivit&auml;ten
				</li>
				<li>
					Kundenbewertungen und Social Media Daten
				</li>
			</ul>
			<a href="#" class="open-link">
				<button class="moreInfo button">
					<div class="info-image button-image">
						weitere Informationen
					</div>
				</button>
			</a>
		</div>
		<div class="screen-box">
			<img src="/img/tour/profile-screen.png" alt="Ausschnitt aus unseren Firmenprofilen">
			<p>
				Abschlussquoten erh&ouml;hen
			</p>
		</div>
	</div>
  &nbsp;
	<div class="tour-page grid-wrapper filter-slide">
		<div class="description-box">
			<h2>
				Zielgruppen eingrenzen und Abschlussquoten erh&ouml;hen
			</h2>
			<p>
				Sprechen Sie nur die Unternehmen an die den gr&ouml;&szlig;ten Bedarf an Ihrem Produkt haben. Grenzen Sie Ihre Zielgruppe mit zahlreichen Filterm&ouml;glichkeiten pr&auml;zise ein:
			</p>
			<ul>
				<li>
					nach Branche &amp; Region
				</li>
				<li>
					nach Werbeaktivit&auml;ten
				</li>
				<li>
					nach Kundenbewertungen
				</li>
			</ul>
			<a href="#" class="open-link">
				<button class="moreInfo button">
					<div class="info-image button-image">
						weitere Informationen
					</div>
				</button>
			</a>
		</div>
		<div class="screen-box">
			<img src="/img/tour/filter-screen.png" alt="Unsere Filterfunktion">
			<p>
				Unsere Filterfunktion
			</p>
		</div>
	</div>
  &nbsp;
	<div class="tour-page grid-wrapper export-slide">
		<div class="description-box">
			<h2>
				Aktuelle Firmeninformationen in eigenes CRM übernehmen
			</h2>
			<p>
				Importieren Sie unsere Daten direkt in Ihr eigenes CRM und beginnen Sie mit der Kundenansprache. 
			</p>
			<ul>
				<li>
					Daten im CSV-Format (andere Formate auf Anfrage)
				</li>
				<li>
					Einfacher Import in jedes CRM-System
				</li>
				<li>
					Sofortige Verwendung der Informationen im Verkaufsprozess
				</li>
			</ul>
			<a href="#" class="open-link">
				<button class="moreInfo button">
					<div class="info-image button-image">
						weitere Informationen
					</div>
				</button>
			</a>
		</div>
		<div class="screen-box">
			<img src="/img/tour/export-screen.png" alt="Export-Optionen">
			<p>
				&nbsp;
			</p>
		</div>
		<div class="screen-box overlay-screenbox">
				<img src="/img/tour/export-screen2.png" alt="Exportierte Exceldatei">
			<p>
				Exportierte Exceldatei
			</p>
		</div>
	</div>
  &nbsp;
	<div class="tour-page grid-wrapper deal-slide">
		<div class="description-box">
			<h2>
				Gutschein-Daten Special
			</h2>
			<p>
				Identifizieren Sie neue &amp; alte Werbekunden &uuml;ber unsere umfangreiche Datenbank mit Gutscheinkampagnen von Groupon, DailyDeal und Co.
			</p>
			<ul>
				<li>
					&Uuml;ber 150.000 Gutscheinaktionen in Deutschland inkl. Unternehmen und Anzahl verkaufter Gutscheine
				</li>
				<li>
					Anbieteradressen von 19 verschiedenen Gutschein-Plattformen
				</li>
				<li>
					Weitere Details wie Branchenzugeh&ouml;rigkeit und zus&auml;tzliche Angebotsinformationen
				</li>
			</ul>
			<a href="#" class="open-link">
				<button class="moreInfo button">
					<div class="info-image button-image">
						weitere Informationen
					</div>
				</button>
			</a>
		</div>
		<div class="screen-box">
			<img src="/img/tour/deal-screen.png" alt="Gutschein-Daten als Exceldatei exportiert">
			<p>
				Gutschein-Daten als Exceldatei exportiert
			</p>
		</div>
	</div>
</div>

  <div class="overlay-outer">
  </div>
  <div class="overlay-slideshow">
    <div class="overlay-inner">
    	<div class="conversionbox-outer">
			  <div class="conversionbox">
				  <a href="#" class="close-link">
					  <img src="/img/close.png" alt="Close-Button" class="close">
				  </a>
				  <div class="whitebg conversion-header">
					  <h4 class="headline-conversionbox info-icon">
						  Fordern Sie weitere Informationen an
					  </h4>
				  </div>
				  <form class="conversionbox-inner">
					  <div class="checkbox-box">
						  <input type="checkbox" name="newsletter" id="newsletter" value="yes">
						  <label for="newsletter" class="checkbox-label">
							  Ich m&ouml;chte <strong>aktuelle Informationen</strong> von AboutLocal erhalten.
						  </label>
					  </div>
					  <div class="checkbox-box">
						  <input type="checkbox" name="call-back" id="call-back" value="yes" checked="checked">
						  <label for="call-back" class="checkbox-label">
							  Ich m&ouml;chte <strong>einen R&uuml;ckruf</strong> von AboutLocal erhalten.
						  </label>
					  </div>
					  <div class="form-line">
						  <label for="fullname">
							  Name
						  </label>
						  <span class="form-field">
							  <input type="text" name="fullname" id="fullname">
						  </span>
					  </div>
					  <div class="form-line">
						  <label for="telephone">
							  Telefon
						  </label>
						  <span class="form-field">
							  <input type="text" name="telephone" id="telephone">
						  </span>
					  </div>
					  <div class="form-line">
						  <label for="call-back-email">
							  E-Mail
						  </label>
						  <span class="form-field">
							  <input type="text" name="call-back-email" id="call-back-email">
						  </span>
					  </div>
					  <div class="form-line">
						  <label for="company">
							  Unternehmen
						  </label>
						  <span class="form-field">
							  <input type="text" id="company" name="company">
						  </span>
					  </div>
					  <div class="submit-box">
						  <button class="call-back-button button">
							  <div class="conversionbox-info-image button-image">
								  weitere Informationen anfordern
							  </div>
						  </button>
						  <br>
						  <a href="#" class="close-link">
							  abbrechen
						  </a>
					  </div>
				  </form>
			  </div>  		
    	</div>
    </div>

    <div class="overlay-inner">
    	<div class="conversionbox-outer">
			  <div class="conversionbox">
				  <a href="#" class="close-link">
					  <img src="/img/close.png" alt="Close-Button" class="close">
				  </a>
				  <div class="whitebg conversion-header">
					  <h4 class="headline-conversionbox tel-icon">
						  Nehmen Sie Kontakt auf
					  </h4>
				  </div>
				  <div class="conversionbox-inner thankyou-box">  		
            <h2>
              Vielen Dank f&uuml;r ihre Anfrage!
            </h2>
            Ihre Nachricht ist bei uns eingegangen. Wir werden uns schnellstm&ouml;glich bei Ihnen melden.
					  <div class="portrait-mark portrait-mark-thankyou">
						  <img src="/img/mark.jpg" alt="Portrait Mark Reich" class="portrait">
						  <br>
						  Mark Reich, Gr&uuml;nder
					  </div>
				  </div>  		
			  </div>
    	</div>
    </div>

    <div class="overlay-inner">
    	<div class="conversionbox-outer">
			  <div class="conversionbox">
				  <a href="#" class="close-link">
					  <img src="/img/close.png" alt="Close-Button" class="close">
				  </a>
				  <div class="whitebg conversion-header">
					  <h4 class="headline-conversionbox tel-icon">
						  Nehmen Sie Kontakt auf
					  </h4>
				  </div>
				  <div class="conversionbox-inner errormessage-box">  		
            <h2>
              Es ist ein Fehler aufgetreten!
            </h2>
            Ihre Nachricht konnte nicht &uuml;bermittelt werden. Bitte laden Sie die Seite neu und versuchen Sie es noch einmal.
				  </div>  		
			  </div>
    	</div>
    </div>
  </div>

{{invokeAfterLoad}}
</template>

