<template name="team">
  <div class="team-page">
    <section class="stage">
    </section>
    <div class="main grid-wrapper">
      <h1>Bei AboutLocal <strong>dreht sich alles um Daten!</strong></h1>
      <p>
        Wir scannen das Internet auf der Suche nach Informationen &uuml;ber Millionen von lokalen Unternehmen. Diese Daten sammeln wir dann einer umfassenden Datenbank mit dem Ziel, die Internetaktivit&auml;ten dieser Firmen besser zu verstehen. <strong>Unsere Mission ist die Erschließung des lokalen Internets.</strong>
      </p>
      <article>
	      <div class="portrait-container">
          <img class="left portrait" src="/img/team/cake.jpg">
        </div>
        <h2><strong>Wir sind</strong> AboutLocal!</h2>
        <p>
          Wir sind ein dynamisches Team voller genialer Informatiker, erfahrener & ehrgeiziger Gr&uuml;nder, Marketing- & Vertriebsasse, Investorenfl&uuml;sterer und nat&uuml;rlich unserer allseits beliebten Design-Fee!
        </p>
      </article>
      <article>
        <img class="right portrait" src="/img/team/kicker.jpg">
        <h2><strong>Work-Life</strong> in balance</h2>
        <p>
          Jeder im Team tr&auml;umt von Big Data und arbeitet hart um AboutLocal voranzubringen! Aber wir sind wie eine kleine Familie und daher auch außerhalb des Arbeitsplatzes oft gemeinsam unterwegs. Ob  Fondueessen, Lasertag oder  Oktoberfest,  Teamevents sind bei uns ein großes Ding!
        </p>
      </article>
      <article>
	      <div class="portrait-container">
          <img class="left portrait" src="/img/team/map.jpg">
        </div>
        <h2>Willkommen im <strong>Prenzlberg</strong></h2>
        <p>
          Unser B&uuml;ro befindet sich in einer der sch&ouml;nsten und lebhaftesten Gegenden Berlins, direkt auf der Greifswalder Straße in der N&auml;he des Volksparks Friedrichshain. Das beste daran ist die Vielzahl an Restaurants und Cafés: Von Kebab &uuml;ber Schnitzel bis zur gehobenen vietnamesischen K&uuml;che, Lunch-Time wird bei uns zelebriert!
        </p>
      </article>
      <article>
	      <div class="portrait-container">
          <img class="right portrait" src="/img/team/workplace.jpg">
        </div>
        <h2>Dein <strong>Arbeitsplatz</strong></h2>
        <p>
          Neue Mitarbeiter erhalten von uns eine volle Ausstattung nach Bedarf samt Laptop und Bildschirm mit dem System der Wahl. Und wenn Tech-Gadgets dein Herz h&ouml;her schlagen lassen wirst du dich &uuml;ber unsere Entertainment-Ausstattung freuen…
        </p>
      </article>
      <div class="slider-wrapper theme-default">
        <div class="ribbon">
        </div>
        <div id="team-slider" class="nivo-slider">
            <img src="/img/team/jossi.jpg" alt="">
            <img src="/img/team/mark.jpg" alt="">
            <img src="/img/team/franz.jpg" alt="">
            <img src="/img/team/marco.jpg" alt="">
            <img src="/img/team/chris.jpg" alt="">
            <img src="/img/team/anja.jpg" alt="">
        </div>
      </div>
      <h1 class="join-us" id="join-us-headline">
        Die AboutLocal-Familie <strong>sucht neue Mitstreiter!</strong>
      </h1>
        <ul class="jobs">
          <li>
            <a href="http://static.about-local.com/pdf/java_developer_de.pdf"><strong>Java Developer</strong></a>
          </li>
          <li>
            <a href="http://static.about-local.com/pdf/javascript_developer_de.pdf"><strong>JavaScript Developer</strong></a>
          </li>
          <li>
            <a href="http://static.about-local.com/pdf/student_java_dev_de.pdf">Werkstudent im Bereich <strong>Java Development</strong></a>
          </li>
          <li>
            <a href="http://static.about-local.com/pdf/javascriptstudent.pdf">Werkstudent im Bereich <strong>JavaScript Development</strong></a>
          </li>
          <li>
            <a href="http://static.about-local.com/pdf/marketingspraktikant.pdf">Praktikant im Bereich <strong>PR/Marketing</strong></a>
          </li>
        </ul>
    </div>
  </div>

  <a class="openings-button" href="#join-us-headline">
  </a>

{{invokeAfterLoad}}  
</template>
