<head>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA76GsfIZEhzF6byO0sCz2XXkh23nMXadQ&sensor=false">
</script>
</head>
<template name="contact">
	<div class="contact grid-wrapper">
    <h2>
      Nehmen Sie
      <strong>
        Kontakt mit uns auf
      </strong>
    </h2>
    <h4>
      If you have any questions or comments, please get in touch:
    </h4>
  	<img src="/img/contact/tel-big.png" class="contact-symbol" alt="Telefon-Symbol">
  	<p class="phonenumber">
  	  030 609 8448 - 11
  	</p>
  	<p class="contact-or">
  	  oder
  	</p>
  	<img src="/img/contact/mail-big.png" class="contact-symbol mail-image" alt="Email-Symbol">
  	<br>
  	<a href="mailto:beta@about-local.com">
  	  beta@about-local.com
  	</a>
    <br>
    <img src="/img/contact/contact-handwriting.png" class="handwriting" alt="Wir freuen uns auf Sie!">
	  <div class="portrait-mark portrait-mark-contact">
		  <img src="/img/mark.jpg" alt="Portrait Mark Reich" class="portrait">
		  <br>
		  Mark Reich, Gr&uuml;nder
	  </div>
    <div class="google-map">
      <div class="map-container portrait">
        <div class="map_canvas">
        </div>
      </div>
    </div>
  	<p class="address">
    	<strong>
    	  aboutLocal GmbH
    	</strong>
    	<br>
      Greifswalder Str. 212 &middot; 10405 Berlin
  	</p>
  </div>

{{invokeAfterLoad}}  
</template>
