<template name="companyProfilePage">
  <div class="grid-wrapper">
    <header class="page-description">
      <a class="close">Schließen</a>
      <h1>Ein Firmenprofil im Detail</h1>
      <p>
        Auf dem Firmenprofil finden Sie alle Informationen zu den
        Online-Aktivitäten des ausgewählten Unternehmens.
      </p>
    </header>
    <nav class="profile-navigation">
      <div class="back-to-search">
        <a class="back">Zurück zu den Suchergebnissen</a>
      </div>
      <div class="switch-profiles">
        <a class="back">Vorheriges Profil</a>
        <a class="next">nächstes Profil</a>
      </div>
    </nav>
    <div class="content-left">
      <div class="inner">
        {{> companyProfile}}
      </div>
    </div>
    <aside class="content-right">
      <div class="inner">
        {{> supportSidebar}}
      </div>
    </aside>
  </div>
  <div class="grid-wrapper">
    <nav class="profile-navigation bottom">
      <div class="back-to-search">
        <a class="back">Zurück zu den Suchergebnissen</a>
      </div>
      <div class="switch-profiles">
        <a class="back">Vorheriges Profil</a>
        <a class="next">nächstes Profil</a>
      </div>
    </nav>
  </div>
</template>
